<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Finde uns in den sozialen Netzwerken:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="https://www.facebook.com/initiativefuerhochbegabungev/" class="me-4 link-underline link-underline-opacity-0 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://twitter.com/IHochbegabung" class="me-4 link-underline link-underline-opacity-0 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://maps.app.goo.gl/2KJuoJbPJpvEZpEz5" class="me-4 link-underline link-underline-opacity-0 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="https://www.instagram.com/initiativefuerhochbegabungev/" class="me-4 link-underline link-underline-opacity-0 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://discord.gg/CbwEx6p" class="me-4 link-underline link-underline-opacity-0 text-reset">
        <i class="fab fa-discord"></i>
      </a>
      <a href="https://github.com/infho" class="me-4 link-underline link-underline-opacity-0 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            Initiative f&uuml;r Hochbegabung e.V.
          </h6>
          <p>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">React</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Vue</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Laravel</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            &Uuml;ber uns
          </h6>
          <p>
            <a href="#!" class="text-reset">Wir &uuml;uns</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Satzung</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Finanzbeschl&uuml;sse</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Impressium &amp; Datenschutz</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Anschrift</h6>
          <p><i class="fa-solid fa-home me-3"></i>Schmarjestraße 14, 14169 Berlin</p>
          <p>
            <i class="fa-solid fa-envelope me-3"></i>
            info@infho.eu
          </p>
          <p><i class="fa-solid fa-phone me-3"></i>+49 30 123456</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.06);">
    © 2024 Copyright:
    <a class="text-reset fw-bold" href="https://infho.eu">Initiative f&uuml;r Hochbegabung e.V.</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
</body>
</html>
