{% extends 'foundation.html' %}

{% load static %}

{% block content %}
<!-- Carousel -->
  <div class="col-sm-8 ms-auto me-auto">
    <div id="demo" class="carousel slide p-5 ms-auto me-auto" data-bs-ride="carousel">

      <!-- Indicators/dots -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
      </div>

      <!-- The slideshow/carousel -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'to_be_replaced/carousel_1.jpg' %}" class="d-block w-100">
        </div>
        <div class="carousel-item">
          <img src="{% static 'to_be_replaced/carousel_2.png' %}" class="d-block w-100">
        </div>
      </div>

    <!-- Left and right controls/icons -->
      <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>

    <h2 class="text-uppercase fw-bolder">Aktuelles</h2>
    <div class="container mb-5">
      <div class="row">
        {% for info in posts %}
        <div class="col-sm-4 p-3">
          <h3>{{info.title}}</h3>
          {% if info.title_image_path != "" %}
            <img alt="Beschreibendes Bild fuer eine aktuelle Information" class="img-fluid" src="{{info.title_image_path}}">
          {% endif %}
          <p>{{info.content_text}}</p>
        </div>
        {% endfor %}

      </div>
    </div>
    <p class="fw-bolder mt-5 mb-5">Habt ihr Lust mitzumachen? Dann meldet euch gerne bei: <a href="mailto:info@infho.eu">info@infho.eu</a> oder werdet Mitglied.</p>
    <blockquote class="blockquote text-center mb-5 mt-5">
      <p class="">»Phantasie ist alles. Es ist die Vorschau auf die kommenden Ereignisse des Lebens.«</p>
      <footer class="blockquote-footer">Albert Einstein</footer>
    </blockquote>
  </div>
{% endblock %}
