{% extends 'foundation.html' %}
{% load static %}

{% block content %}
<style>.link {
    color: black;
    text-decoration: none;
      } </style>
<div class="col-sm-8 ms-auto me-auto">
  <h2 class="text-uppercase fw-bolder">unser Blog</h2>
  <div class="container mb-5">
    <div class="row">
      {% for blog in posts %}
      <div class="col-sm-4 p-3">
        <a class="link" href="/blog/post/{{blog.slug}}">
          <h3>{{blog.title}}</h3>
          {% if blog.photo != "" %}
            <img alt="Beschreibendes Bild fuer eine aktuelle Information" class="img-fluid" src="{{blog.photo.url}}">
          {% endif %}
          <p>{{blog.content_text}}</p>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

